{% extends "::appLayout.html.twig" %}

{% block content %}
<h1>Novedad</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Evento</th>
            <td>{{ entity.evento }}</td>
        </tr>
        <tr>
            <th>Accion</th>
            <td>{{ entity.accion }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('novedad') }}">
            Listado
        </a>
    </li>
    <li>
        <a href="{{ path('novedad_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
    <li>
        <form action="{{ path('novedad_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                <button type="submit" class="k-button">Eliminar</button>
        </form>
    </li>
    {% endif %}
</ul>
{% endblock %}