{% extends "::appLayout.html.twig" %}


{% block content %}
<div id="grafico-empleados"></div>
<div id="grafico-adultos"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/highcharts/highcharts.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/highcharts/modules/exporting.js') }}"></script>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
    	
    	// Radialize the colors
        Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function(color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });
		
        empleados = new Highcharts.Chart({
            chart: {
                renderTo: 'grafico-empleados',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Gráfico de Votos a nivel nacional Empleados'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+Highcharts.numberFormat(this.y, 0,',','.')+' = '+ Highcharts.numberFormat(this.percentage, 2, ',','.') +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Porcentaje',
                data: []
            }]
        });
        
        adultos = new Highcharts.Chart({
            chart: {
                renderTo: 'grafico-adultos',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Gráfico de Votos a nivel nacional Adultos'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
            	percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+Highcharts.numberFormat(this.y, 0,',','.')+' = '+ Highcharts.numberFormat(this.percentage, 2, ',','.') +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Porcentaje',
                data: []
            }]
        });
    });
    
    
    function requestDataEmpleado() {
    $.ajax({
        url: '{{ path("datos_grafico_empleados") }}',
        success: function(jsonEmpleados) {
            empleados.series[0].setData(jsonEmpleados, true);
            setTimeout(requestDataEmpleado, 9000);    
        },
        cache: false
        });
    }
    
    function requestDataAdultos() {
    $.ajax({
        url: '{{ path("datos_grafico_adultos") }}',
        success: function(jsonAdultos) {
            adultos.series[0].setData(jsonAdultos, true);
            setTimeout(requestDataAdultos, 16000);    
        },
        cache: false
        });
    }
    
    requestDataEmpleado();
    requestDataAdultos();
});
</script>
{% endblock %}