{% extends "::appLayout.html.twig" %}


{% block content %}
<h1>Lista de Seguimientos</h1>

<table class="zebra">
    <thead>
        <tr>
            <th>Id</th>
            <th>Estado</th>
            <th>Votos</th>
            <th>Fecha</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="5"><div class="navigation">{{ pagination.render()|raw }}</div></td>
        </tr>
    </tfoot>
    <tbody>
    {% for entity in pagination %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.estado }}</td>
            <td>{{ entity.votos|number_format(0, ',', '.') }}</td>
            <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('seguimiento_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('seguimiento_new') }}">
            Registrar Nuevo
        </a>
    </li>
</ul>
{% endblock %}