{% extends "::appLayout.html.twig" %}


{% block content %}
<div id="seguimiento-form">
<h1>Nuevo Seguimiento</h1>

<form action="{{ path('seguimiento_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p style="margin: 0.5em 0.5em 0.5em 0;">
        <button type="submit" class="k-button">Guardar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('seguimiento') }}">
            Listado
        </a>
    </li>
</ul>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function(){
        $("#inass_eleccionbundle_seguimientotype_estado").kendoComboBox();
    });
</script>
{% endblock %}